// Variables
$website-width: 1280px;
$main-color: #009688;
$light-color: #b2dfdb;
$medium-color: #ccc;
$dark-color: #212121;
$bg-image: url("../img/showcase.jpg");

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
